{% extends 'base.html.twig' %}
{% block title %}Programs by {{ category }}{% endblock %}

{% block body %}
    <h1>Toutes les séries étant dans la catégorie {{ category }} : </h1>
    {% for program in programs %}
            <a href="{{ path('wild_show',  {'slug' : url.} ) }}">
                <div>
                    <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                    <p>{{ program.summary }}</p>
                </div>
            </a>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
