{% extends 'base.html.twig' %}
{% block title %}Episodes in Season{% endblock %}

{% block body %}
    <h1>Toutes les épisodes étant dans la saison : </h1>
    {% for episode in episodes %}
        <a href="{{ path('show_episode',  {'id' : episode.id}) }}">
            <h2>Episode {{ episode.number }} : {{ episode.title }}</h2>
            <p>{{ episode.synopsis}}</p>
        </a>
    {% else %}
        Aucune épisodes trouvés.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
