{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
            {% for season in seasons %}
                    <div class="season">
                        <a href="{{ path('index_episode',  {'idSeason' : season.id} ) }}">
                            <h2>Saison {{ season.number }} - Année : {{ season.year }}</h2>
                            <p>{{ season.description}}</p>
                        </a>
                    </div>
            {% else %}
                Aucune saison trouvée.
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
