{% extends 'base.html.twig' %}
{% block body %}
    <h1>Welcome to Wild Séries</h1>
    {# templates/index.html.twig #}
    <a href="{{ path('wild_show', { 'slug': "american-horror-story" }) }}">
        Testing show() method from WildController with a real program s slug.
    </a>
    <br>
    <a href="{{ path('wild_index') }}">
        Testing index() method from WildController to view all programs.
    </a>
    <br>
    <a href="{{ path('program_index') }}">
        View the CRUD version of the index of Program
    </a>
    <br>
    <a href="{{ path('season_index') }}">
        View the CRUD version of the index of Seasons
    </a>
    <br>
    <a href="{{ path('episode_index') }}">
        View the CRUD version of the index of Episode
    </a>
{% endblock %}
